*.png
*.dat
restart*
castep.*
*.usp*
CASTEP/
castep_data/
*.log
log*
ompi.comp*/
*.meam
*.extxyz
*.data
*.cell
out*
*.npy
*.traj
*.pyc
*.json
mlip_tests/*.xml
mlip_tests/*sparse*
#ssh-keygen -t ed25519 -C "sedm7085@ox.ac.uk"